.btn-flat-simple {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #00BCD4 !important;
  font-color: #00BCD4;
  background: #ECECEC !important;
  transition: .4s;
}

.btn-flat-simple:hover {
  background: #e06666 !important;
  color: #fff !important;
  font-color: #fff;
}

#delbutton {
  position: absolute;
  right: 0.5%;
  bottom: 5%;
}

#bpdtogglebtn {
  position: absolute;
  right: 1%;
  padding-right: 10%;
  font-size: 10px;
  width: 3%;
  height: 1%;
  margin-bottom: 0% !important;
}